<!DOCTYPE html>
<html class="country">
  <head>
    <title>ScratchRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script id="load-timing" type="text/javascript">
    new PerformanceObserver((list, observer) => {
      list.getEntries().forEach((entry) => {
        if (entry.entryType === "mark") {
          console.log(`${entry.name}'s startTime: ${Math.floor(entry.startTime)}`);
        }
        if (entry.entryType === "measure") {
          console.log(`${entry.name}'s duration: ${Math.floor(entry.duration) / 1000} (s)`);
        }
      });
    }).observe({ entryTypes: ["measure", "mark"] });

    performance.mark("start:app-load");
  </script>
  </head>



  <body>

    <h3> App Layout </h3>

    <p>the rest of the content is blocked for seconds in <strong><code>?sleep=N</code></strong></p>

    <ol>
        <li>(Application Helper) - Random Number: <strong><%= randomNum %></strong></li>

        <li>(Dashboard Controller) - Instance Variable: <strong><%= @helloWorld %></strong></li>

        <li>(Dashboard Template provided this variable) - stringFromDashboardController: <strong><%= yield :kindaSlowString %></strong></li>

        <li>(Dashboard Template) - yeild <%= yield %>
    </ol>
  </body>
</html>
